body, html {
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
	border: 0px;
	
	overflow: hidden;
	display: block;
}

.p5Canvas {
    position: absolute;
    
	left: 0px;
	top: 0px;
	
	width: 100%;
    height: 100%;
}