/* General styles */
:root {
  --text: #13100d;
  --background: #fdf1e7;
  --background-transparent: #fdf1e788;

  --primary: #ff8303;
  --secondary: #8d501e;
  --accent: #de8a45;

  --link: #8d501e;
  --link-hover: var(--primary);
}

/* Container that limits the page width */
.container {
  /* Sets the maximum width */
  max-width: 1500px;
  /* Centers the container horizontally */
  margin: 0 auto;
  /* Adds some padding for small screens */
  padding: 0 20px;
}

body {
  padding: 0;
  margin: 0;

  /* background-image: url('background.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: top left; */

  background: linear-gradient(130deg, var(--primary), var(--text));

  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: var(--text);
  line-height: 1.6;
}

header {
  margin: 20px 0px 20px 0px;

  font-size: 1.5em;
  font-family: "Consolas", monospace;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #ffffff00;
  color: var(--text);
  /* border-bottom: 2px solid var(--primary); */
  /* position: sticky; */
}

header img {
  margin-top: 2px;

  vertical-align: middle;
}

.header-navigation {
  min-width: 378px;
  margin: 0px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.header-item {
  margin: 0 8px;
}

a {
  text-decoration: none;
  color: var(--link);
  font-size: 1em;

  vertical-align: middle;

  transition: 0.3s;
}

a:hover {
  /* text-decoration: underline; */
  color: var(--link-hover);
}

main {
  min-height: 100vh;

  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;

  background: var(--background-transparent);
}

.column img {
  width: 100%;
  height: auto;
}

footer {
  max-height: 120px;

  margin: 20px 0px 20px 0px;
  padding: 20px;
  border-radius: 15px;

  background-color: var(--text);
  color: var(--background);

  text-align: center;
  font-size: 0.7em;
}

/* Multi-column layout */
@media (min-width: 769px) {
  .header-object {
    padding: 10px;
    border-radius: 15px;

    background-color: var(--text);
  }

  main {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
  }
}

/* Small screen layout */
@media (max-width: 768px) {
  header {
    padding: 15px 15px 15px 15px;
    border-radius: 15px;

    flex-direction: column;

    background-color: var(--text);
  }

  .header-navigation {
    /* flex-direction: column; */
  }
}