/* General styles */
:root {
  --text: #f6f0ea;
  --background: #110b05;
  --background-transparent: #110b05cc;

  --primary: #ff8303;
  --secondary: #9e570f;
  --accent: #32aa00;

  --link: var(--primary);
  --link-hover: var(--accent);
}

/* Container that limits the page width */
.container {
  /* Sets the maximum width */
  max-width: 1500px;
  /* Centers the container horizontally */
  margin: 0 auto;
  /* Adds some padding for small screens */
  padding: 0 20px;
}

html {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;

  /* background-image: url('background.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: top left; */

  background: linear-gradient(130deg, var(--secondary), var(--background));
  /* background: var(--primary); */

  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  color: var(--text);
  line-height: 1.6;
}

header {
  margin: 20px 0px;

  font-size: 1.5em;
  font-family: "Consolas", monospace;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--text);
  /* border-bottom: 2px solid var(--primary); */
  /* position: sticky; */

  transition: 0.3s;
}

header img {
  margin-top: 2px;

  vertical-align: middle;
}

.header-navigation {
  min-width: 378px;
  margin: 0px;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header-item {
  margin: 0 8px;
}

.header-item a {
  vertical-align: middle;

  transition: all 0.3s ease;
}

.header-item a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

.header-item a::before {
  content: "//";

}

.header-item a::after {
  content: "";
}

.header-item a:hover::before {
  content: "";
}

.header-item a:hover::after {
  content: "()";
}

main {
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;

  background: var(--background-transparent);
  color: var(--text);
}

.code-style {
  padding: 5px;
  border-radius: 10px;

  font-family: monospace;

  background: var(--background);
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--primary);
}

.centered {
  display: flex;
  justify-content: center;
}

.column {
  max-width: 750px;
  margin: 0 auto;

  flex: 1 1 50%;
}

.column img {
  width: 100%;
  height: auto;

  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.description {
  color: var(--secondary);

  display: flex;
  justify-content: center;
}

.describe {
  color: var(--secondary);
}

footer {
  margin: 20px 0px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--background-transparent);
  color: var(--text);

  text-align: center;
  font-size: 0.8em;
}

footer h3 {
  margin: 5px;
}

footer div {
  margin: 5px 0px;

  display: flex;
  flex-direction: row;
}

footer a {
  margin: 0px 5px;
}

/* Multi-column layout */
@media (min-width: 769px) {
  .header-object {
    padding: 10px;
    border-radius: 15px;

    background-color: var(--background-transparent);
  }

  main {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
  }
}

/* Small screen layout */
@media (max-width: 768px) {
  header {
    padding: 15px 15px 15px 15px;
    border-radius: 15px;

    font-size: 1.2em;

    flex-direction: column;

    background-color: var(--background-transparent);
  }

  .header-navigation {
    /* flex-direction: column; */
  }
}