body {
	margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 20px;
}

p {
	font: normal 20px Roboto, sans-serif;
	font-weight: 400;
	
	color: #ffb92d;
	text-shadow: .03em .02em #a57d2c;
}

#hello {
	font: normal 3em Roboto, sans-serif;
	font-weight: 200;
	
	color: #ffb92d;
	text-shadow: .03em .02em #a57d2c;
	
	float: left;
	width: 67%;
}

#main-script {
	float: right;
	width: 20%;
}